* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:
    Inter,
    system-ui,
    sans-serif;
}

body {
  background: #0b1220;

  overflow-x: hidden;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);

  border-radius: 20px;
}
